doctype html

-var title = 'Twitter'
-var includeFontAwesome = true
include ../includes/head.pug

body(class='p(0) p-t(5) m(0) ff(sans) bgc(gray-l3)')
    header(class='pos(fixed) z(999) h(a) p-y(2) bgc(white) bs(1) d(f) w(100%) t(0)')
        div(class='container d(f) fd(row-reverse) fd(row)m ai(c) jc(sb)')
            nav(class='w(a) w(5col)m')
                ul(class='ls(n) d(f)')
                        each icon, label in { Home: 'home', Messages: 'envelope', Notifcations: 'bolt' }
                            li
                                a(href='#' class='p-x(3) p-y(3) m-y(-2) c(gray) c(primary):h d(f) bd-b(3) bdc(transparent) bdc(primary):h ai(c) td(n)')
                                    span(class='m-r(2) fa fa-lg fa-' + icon)
                                    span(class='d(n) d(i)m')= label

            div(class='w(a) w(2col)m ta(c)')
                a(href='#' class='p-x(2)')
                    img(src='/img/logo.svg' class='pos(relative) w(4) h(4)')

            div(class='w(5col) d(n) d(f)m jc(fe)')
                div
                    input(class='w(100%) bdrad(pill) bgc(off-white) bgc(white):f trs(bgc) p-l(3) p-r(4) p-y(2) bd(1) bdc(gray-l1)' placeholder='Search')
                    span(class='fa fa-search m-l(-4) c(black-25)')

                a(href='#' class='m-x(2)')
                    img(src='https://unsplash.it/200' class='h(4) w(4) bdrad(fill) bd(1) bdc(gray-l1)')

                button(class='bdrad(2) bd(0) p-x(2) p-y(2) fw(200) trs(bgc) bgc(primary) bgc(primary-d1):h c(white)')
                    span(class='fa fa-fw fa-paper-plane')


    div(class='container content m-t(3)')
        div(class='d(f) fw(wrap) m-x(-3)')
            aside(class='w(12col) w(3col)m p-x(3)')
                section(class='m-b(3) bd(1) bdc(gray-l1) bdrad(3) bgc(white)')
                    div(class='br-tl(3) br-tr(3) ar(2x1) bgc(gray) w(12col) bgs(cover)' style='background-image: url(https://unsplash.it/400)')
                    div(class='p(3)')
                        div(class='d(f) m-b(2)')
                            div(class='bdrad(3) w(5) h(5) bgc(gray) bgs(cover) m-t(-4) bd(3) bdc(white)' style='background-image: url(https://unsplash.it/400)')

                            div(class='m-l(2)')
                                h4(class='m(0) p(0)') Kris Van Houten
                                p(class='m(0) p(0) c(gray)')
                                    small @krivaten

                        div(class='d(f) fw(wrap) jc(between)')
                            each value, label in { tweets: 947, lovers: 65, haters: 223 }
                                div(class='p-y(1) w(4col) w(12col)s w(4col)m')
                                    div(class='tt(uc) c(gray)')
                                        small= label
                                    div
                                        a(href='#' class='td(n)')= value

                section(class='m-b(3) d(n) d(b)s p(3) bd(1) bdc(gray-l1) bdrad(3) bgc(white)')
                    h4(class='fw(200) m-t(0)') Trends

                    each value, trend in { 'Politics': '643m', 'ClimateDelta': '2k', 'OffendMeIn3Words': '15.8k', 'CssIsDead': '32', 'KrisIsDreamy': '2'  }
                        a(href='#' class='td(n) d(b) m-y(2)')
                            strong ##{trend}<br />
                            small(class='c(gray)') #{value} Tweets

            main(class='p-x(3) w(12col) w(6col)s')
                div(class='bdrad(3) bgc(white) bd(1) bdc(gray-l1) m-b(3)')
                    div(class='br-tl(3) br-tr(3) p-x(2) p-y(2) bd-b(1) bdc(gray-l1) bgc(primary-l3) d(f)')
                        div(class='p-x(2)')
                            div(class='bdrad(3) w(4) h(4) bgc(gray) bgs(cover)' style='background-image: url(https://unsplash.it/400)')

                        div(class='w(12col)')
                            textarea(class='w(100%) bdrad(2) bgc(gray-l3) bgc(white):f trs(bgc) p-l(3) p-r(4) p-y(2) bd(1) bdc(gray-l1)' rows='4' placeholder='What are you offended by today?')

                            div(class='d(f) ai(c) jc(sb) m-y(1)')
                                div
                                    each icon in ['camera', 'th-list', 'map-marker' ]
                                        a(href='#' class='m-x(3)')
                                            span(class='fa fa-lg fa-' + icon)

                                div
                                    small 140
                                    button(class='bgc(primary) bgc(primary-d1):a bgc(primary-l1):h bdrad(2) trs(bg-c) bd(0) h(4) p-x(2) c(white)') Tweet

                    - for (var x = 0; x < 10; x++)
                        div(class='bd-b(1) bdc(gray-l1) p(2) d(f) ai(t)')
                            div
                                div(class='bdrad(3) w(4) w(5)s h(4) h(5)s bgc(gray) bgs(cover)' style='background-image: url(https://unsplash.it/400)')

                            div(class='p-l(2) w(12col)')
                                div
                                    strong Some Body
                                    small(class='c(gray-l1)') &nbsp; @SomeBody - 55m

                                p This is a really fancy tweet about something that will likely offend somebody.

                                div(class='p-t(2)')
                                    each icon in ['reply', 'retweet', 'heart', ]
                                        a(href='#' class='m-x(3) c(gray) c(primary):h')
                                            span(class='fa fa-'+icon)
            aside(class='w(12col) w(3col)s')
                section(class='m-b(3) d(n) d(b)s p(3) bd(1) bdc(gray-l1) bdrad(3) bgc(white)')
                    h4(class='fw(200) m-t(0)') Who to Follow

                    each username, name in { 'Dwayne Johnson': 'theRock', 'Wes Bos': 'wesbos', 'Tim Kennedy': 'TimKennedy' }
                        a(href='#' class='td(n) d(f) m-y(3)')
                            img(src='https://unsplash.it/200' class='bdrad(fill) w(4) h(4)')

                            div(class='m-l(2)')
                                div
                                    strong #{name}<br />
                                    small(class='c(gray)')  @#{username}

                                div(class='m-t(1)')
                                    button(class='bgc(gray-l3) c(black) bd(1) bdc(gray-l2) h(4) bdrad(2)')
                                        span(class='fa fa-user c(primary)')
                                        span  Follow
